{% extends 'shops/basic.html' %}
{% block title %}
Home Page
{% endblock title %}
{% block css %}
.card-class{
        height:40vh;
        width: 20vw;
        /*margin: auto;*/
        margin-top: 1vw;
        
      }
card-body-class{
  height:8vh;
}
    
      .card-img-up{
        margin-left:2.5vw;
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
        height: 10vh;
        width: 15vw;
      }
      .carousel-inner{
        margin: auto;
        width: max-content;
        height: max-content;
      }
      .carousel-control-prev,
.carousel-control-next{
    align-items: flex-end;;
    /* Aligns it at the bottom */
}

.carousel-indicators li{
  background-color: grey;
}
.carousel-control-prev span,.carousel-control-next span{
  background-color: grey;
}
{% endblock css %}
{% block body %}
    {% for j in allprods%}
    
    <h5 class="my-4">Flash Sale On {{j.0.0.category}} - Recommended Items</h5>
      <div id="mycarousel{{forloop.counter}}" class="carousel" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#mycarousel{{forloop.counter}}" data-slide-to="0" class="active"></li> 
            {% for i in product_length %}
            <li data-target="#mycarousel{{forloop.parentloop.counter}}" data-slide-to={{i}} ></li> 
            {%endfor%}
          </ol>
          
          <div class="carousel-inner">
            
            
            {% comment %} {{range}} {% endcomment %}
            {% for i in j.0|slice:"0:"%}
              {% if i is j.0.0 %}
                  <div class="carousel-item active">
              {% else %}
                  <div class="carousel-item">
              {% endif %}
            {% comment %} {% if forloop.counter|divisibleby:3 and forloop.counter > 0  %} {% endcomment %}

              <div class="card card-class">
                <div class="card-body card-body-class">
                  <h5 class="card-title " id = "namexpr{{i.id}}" >{{i.product_name}}</h5>
                  {% comment %} <p class="card-text">{{i.category}}</p> {% endcomment %}
                  <p class="card-text"><small class="text-muted">{{i.desc}}</small></p>

                  <span id='admin{{i.id}}' class='admin'><button id="pr{{i.id}}" type="button" class="btn btn-primary cart" >Add to cart</button></span>
                  <a href="/shops/productview/{{i.id}}"><button id="qr{{i.id}}" type="button" class="btn btn-primary" >Quick View</button></a>
                </div>
                <img class="card-img-up" src='/media/{{i.image}}' alt="Card image cap">
              </div>
            {% comment %} {% endif%} {% endcomment %}
              </div>
            
            {% endfor%}
            

            
            
          </div>

          <a class="carousel-control-prev" href="#mycarousel{{forloop.counter}}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#mycarousel{{forloop.counter}}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

        </div>
      {% endfor%}
{% endblock body %}
{% block script%}
  if(localStorage.getItem('cart')==null){
    var cart={};
  }
  else{
    
    cart=JSON.parse(localStorage.getItem('cart'));
  }
$('.admin').on('click', 'button.cart', function(){
  {% comment %} console.log("you have clicked me"); {% endcomment %}
  
  
  var idd=this.id.toString();
  
  if(cart[idd]!=undefined){
    qty = Number(cart[idd][0])+1;
    
    cart[idd]=cart[idd]+1;
  }
  else
  {
    {% comment %} console.log("you have entered inside me"); {% endcomment %}
    qty = Number(1);
    name=document.getElementById('namexpr'+idd.slice(2,)).innerHTML;
    {% comment %} price =  {% endcomment %}
    {% comment %} console.log("Here = ",name); {% endcomment %}
    
    {% comment %} name  = "My name" {% endcomment %}
    cart[idd]=[qty,name];
  }
  update_cart(cart);
  {% comment %} console.log(cart); {% endcomment %}
  localStorage.setItem('cart',JSON.stringify(cart));
});

function update_popover(cart)
{
  var PopString = "You have selected the following items";
  
  
  var i=0;
  for(var item in cart)
  {
    {% comment %} console.log(cart[item][0]); {% endcomment %}
    PopString = PopString + '<br>' + i +"  " +document.getElementById("namex"+item).innerHTML + "    Qty : " + cart[item][0] +'<br>';
    i = i+1;
  }
  PopString = PopString + "</div> <a href='checkout'><button class='btn btn-primary' id ='checkout'>Checkout</button></a> <button class='btn btn-primary' onclick='clearCart()' id ='clearCart'>Clear Cart</button>     "
  document.getElementById("popcart").setAttribute('data-content', PopString);
  $('#popcart').popover('show');
}
{% comment %} document.getElementById('checkout').on('click',function(){

}); {% endcomment %}
function clearCart() {
    cart = JSON.parse(localStorage.getItem('cart'));
    for (var item in cart) {
        document.getElementById('admin' + item.slice(2,)).innerHTML = '<button id="' + item + '" class="btn btn-primary cart">Add To Cart</button>'
    }
    localStorage.clear();
    cart = {};
    update_cart(cart);
}
function update_cart(cart)
{
  var count=0;
  var sum=0;
  
  for (var item in cart){
    {% comment %} console.log("you have clicked me" ,cart[item][0]); {% endcomment %}
    sum = sum + Number(cart[item][0]);
    var it=item;
    item = item.slice(2,);
    {% comment %} console.log("sum = ",sum); {% endcomment %}
    
    

    document.getElementById('admin'+item).innerHTML="<button id='minus"+item+"' class='btn btn-primary minus'>-</button><span id='val"+item+"'>" + cart[it][0] + "</span><button id='plus"+item+"' class='btn btn-primary plus'>+</button>";
  }
  document.getElementById('carts').innerHTML = sum;
update_popover(cart);
  
}

  $('.admin').on("click","button.minus",function(){
    var index = this.id.slice(5,);
    cart['pr'+index][0]=Math.max(Number(cart['pr'+index][0])-1,0);
    document.getElementById('val'+index).innerHTML=Number(cart['pr'+index][0]);
    update_cart(cart);
});
$('.admin').on("click","button.plus",function(){
     var index = this.id.slice(4,);
     
    cart['pr'+index][0]=Number(cart['pr'+index][0])+1;
   
   
   
    {% comment %} console.log("inside + or -",cart['pr'+index][0]); {% endcomment %}
    document.getElementById('val'+index).innerHTML=Number(cart['pr'+index][0]);
    update_cart(cart);
});



{% endblock script%}
        

    